__pycache__/
weekly_prez
**/database/
**/.*.json
cossmo/
papers/

**/*.hdf
**/*.h5
**/*.parquet
**/*.zip
**/*.log
**/*.nc
**/*.pptx
**/*.so
**/*.nc
**/*.pickle

# database experimentation
databases/*_test/
databases/data/
zarr_pipeline/database/
